

.ContactPage-container{
  display: flex;
}


.flex-child-img{
  flex: 1;
  margin: 2rem;
  padding: 2rem;

}
.flex-child-div{
  margin-top: 5rem;
  flex: 1;
  margin-left: 2rem;
  padding: 2rem;

}

.contact-form {
  h3{
    color: $darkBlue;
  }
  .form-control{
    border-radius: 0px;
    border-color: $pink !important;
    color: $darkBlue
  }
  #submit-button{
    background-color: $pink;
    border-color: $pink;
    border-radius: 0px;
  }
  //this isn't working
  .activeInput{
    border-color: $teal bold !important;
  }
}

.direct-contact{

  margin-top: 10px;
  display: flex;
  .sarah-email, .github-icon-contact{
    margin-right: 10px;
  }
  // .sarah-email{
  //   float: left;
  // }
  // .github-icon-contact {
  //   float: left;
  // }
  // .linkedIn-icon-contact {
  //   float: left;
  // }
}

.contact-img{
  margin-top: 100px;
  width: 130%;
  height: 100%
}
