

.ContactPage-container{
  display: flex;
  @media screen and (max-width: 60em) {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
}


// .flex-child-img{
//   // flex: 1;
//   // margin: 2rem;
//   // padding: 2rem;
//   margin: 2rem;
//   padding: 2rem;
//   max-width: 50%;
//   height: auto;
//   @media screen and (max-width: 60em) {
//     max-width: 300%;
//     grid-column-start: 1;
//     grid-column-end: 5;
//     grid-row: 1;
//   }
//
// }
.flex-child-img{
  @media screen and (max-width: 60em) {
      position: relative;
      height: 50%;
      // justify-content: center;
      // align-items: center;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row: 2;
    }

}


.flex-child-div{
  margin-top: 5rem;
  flex: 1;
  margin-left: 2rem;
  padding: 2rem;
  @media screen and (max-width: 60em) {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }

}

.contact-form {
  h3{
    color: $darkBlue;
  }
  .form-control{
    border-radius: 0px;
    border-color: $teal;
    color: $darkBlue
  }
  #submit-button{
    background-color: $teal;
    border-color: $teal;
    border-radius: 0px;
  }
  //this isn't working
  .activeInput{
    border-color: $teal bold !important;
  }
}

.direct-contact{

  margin-top: 10px;
  display: flex;
  .sarah-email, .github-icon-contact{
    margin-right: 10px;
  }
  // .sarah-email{
  //   float: left;
  // }
  // .github-icon-contact {
  //   float: left;
  // }
  // .linkedIn-icon-contact {
  //   float: left;
  // }
}

.contact-img{
  margin-top: 100px;
  width: 130%;
  height: 100%
}
