.HomePage{
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  flex:1;
  padding: 4%;
}
.sarah-home-img {
  width: 95vw;
  padding:2%;
  flex:1;
}

.intro-p {
  // font-family: 'Kaushan Script';
  font-family: 'Quicksand';
}

.sarah-home-p {
  border-color: 1px solid red;
  font-family: 'Open Sans';
  flex:1;
  padding:2%;
  .home-p {
    margin-bottom: 0px;
  }
}

@media (min-width:320px)  {
  .sarah-home-img{
    width: 95vw;
    padding:2%;
    flex:1;
  }
  p{
    flex: 1;
    padding: 1%;
  }
    // img a width of 95vw; 2% padding; ps a flex:1; padding 4% to p tags;
}

@media (min-width:1025px) {
  .HomePage {
  display: flex;

    > div {
      flex:1;
    }
}
.sarah-home-img{
  width: 40vw;
  padding:2%;
  flex:1;
  }
}
