

.NavBar-default {
  display: flex;
  width: 100%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  // transform: translate(-50%, -50%);
    .nav-link {
      color: $darkBlue;
    }
    .nav-link:hover {
      color: $teal;
      text-decoration: none;
      transition: border-bottom .1s, border-left .2s, border-top .4s, border-right .4s;
      border-bottom: 2px solid $magenta;
      border-left: 2px solid $magenta;
      border-top: 2px solid $magenta;
      border-right: 2px solid $magenta;
    }

    .activeLink {
      color: $magenta;

    }

}
.navbar-toggler:focus,
.navbar-toggler:active,
.hamburger:focus {
  outline: none;
  box-shadow: none;
}


.hamburger {
  color: $darkBlue;
}
.navbar-collapse {
  justify-content: flex-end;
}
.Sarah {
  font-weight: bold;
  font-size: 28px;
  color: $darkBlue;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.05em;
}
.linkedIn-icon {
  margin-left: 10px;
}
