.container {
  margin-top: 5.5rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;

  // height: 100vh;
  @media screen and (max-width: 780px) {
    width: 90vw;
  }

}
@media screen and (max-width: 780px) {
  // grid-template-rows: repeat(4, 1fr);
  .Footer{
    // margin-top: 135%;
    padding: 5%;
  }
}

.grid-1 {

  // position: relative;
  margin-top: 15px;
  margin-left: 150px;
  width: 400px;
  height: 400px;
  overflow: hidden;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
//   box-shadow:
//   2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
//   6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
//   12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
//   22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
//   41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
//   100px 100px 80px rgba(0, 0, 0, 0.07)
// ;
// box-shadow: 0 10px 6px -6px #777;
box-shadow: 0px 0px 10px rgba(0,0,0,.5);

  margin-bottom: 10px;

  // display: block;

  @media screen and (max-width: 780px) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
  }
}
.img-fluid{
  width: 400px;
  height: 400px;
  // position: absolute;

}
.img-fluid:hover{
  opacity: 0;
  transition:opacity 2s;


}

.overlay{
  opacity:0;
  width:100%;
  height:100%;
  background: rgba(255,255,255,1);
}
.dotty-img:hover .overlay{
  opacity:1;
  transition:2s;

}
.dotty-img{
  background: url('/img/DottyImg.png');
  background-size: cover;
}

.dotty-description-p{
  // z-index: 99;
  width: 100%;
  height: 100%;
  line-height: 20px;
  // display: inline-block;
  padding: 100px 0px;
  vertical-align: middle;
  font-family: "Open Sans";
  overflow:visible;
  // pointer-events:none;
  // background:none !important;

}

.tool-img:hover .overlay{
  opacity:1;
  transition:2s;

}
.tool-img{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU5ERB6qWA93JncvbH1m5igySrZ3i3n1UmCSqGaacYX15_gT3PvS6LaOraJ04yEQ99-80&usqp=CAU");
  background-size: cover;
}

.pizza-img:hover .overlay{
  opacity:1;
  transition:2s;
}
.pizza-img{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3O4ZfPxVCuawywlFacJm_ahIfp-zUm-e4wA&usqp=CAU");
  background-size: cover;
}

.noetic-img:hover .overlay{
  opacity:1;
  transition:2s;
}

.noetic-img{
  background: url('/img/NoeticTalkImg.png');
  background-size: cover;
}


// .grid-1 > p:hover {
//   transform: scaleY(0.66);
// }

.grid-2 {
  // position: relative;
  margin-top: 15px;
  left: 0px;
  width: 400px;
  height: 400px;
  // border-radius: 50%;
  overflow: hidden;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
//   box-shadow:
//   2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
//   6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
//   12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
//   22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
//   41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
//   100px 100px 80px rgba(0, 0, 0, 0.07)
// ;
// box-shadow: 0 10px 6px -6px #777;
box-shadow: 0px 0px 10px rgba(0,0,0,.5);

  margin-bottom: 10px;
  @media screen and (max-width: 780px) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
  }
}

.toollibrary-description-p {
  z-index: -1;
  width: 400px;
  line-height: 20px;
  display: inline-block;
  padding: 100px 0px;
  vertical-align: middle;
  font-family: "Open Sans";
  height: 450px
}


.grid-3 {
  // position: relative;
  margin-top: 20px;
  margin-left: 150px;
  width: 400px;
  height: 400px;
  // border-radius: 50%;
  overflow: hidden;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
//   box-shadow:
//   2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
//   6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
//   12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
//   22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
//   41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
//   100px 100px 80px rgba(0, 0, 0, 0.07)
// ;
// box-shadow: 0 10px 6px -6px #777;
box-shadow: 0px 0px 10px rgba(0,0,0,.5);

  margin-bottom: 10px;
  @media screen and (max-width: 780px) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3;
  }
}

.noetic-description-p {
  z-index: -1;
  width: 400px;
  line-height: 20px;
  display: inline-block;
  padding: 100px 0px;
  vertical-align: middle;
  font-family: "Open Sans";
  height: 450px
}

.grid-4 {
  // position: relative;
  margin-top: 20px;
  margin-left: 0px;
  width: 400px;
  height: 400px;
  // border-radius: 50%;
  overflow: hidden;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 2;
  // box-shadow:
// box-shadow: 0 10px 6px -6px #777;
box-shadow: 0px 0px 10px rgba(0,0,0,.5);
;

  margin-bottom: 10px;
  @media screen and (max-width: 780px) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 4;
  }
}

.pizza-description-p {
  z-index: -1;
  width: 400px;
  line-height: 20px;
  display: inline-block;
  padding: 100px 0px;
  vertical-align: middle;
  font-family: "Open Sans";
  height: 450px
}

.Footer{
  margin-top: 7em !important;
}
