@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

$darkBlue: #2B2D42;
$lightBlue: #92DCE5;
$cream: #F8F7F9;
$yellow: #F7EC59;
$pink: #FF66D8;

body {
  font-size: 16px;
}

.NavBar {

}

.HomePage {

}

.AboutPage {

}

.ContactPage{

}

.AppPage {

}
